<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

<bean id="qtoolsPannel" class="com.liumapp.qtools.desktop.ui.QtoolsPannel">
	<constructor-arg name="title" type="java.lang.String" value="qtools-desktop"></constructor-arg>
	<constructor-arg name="width" type="int" value="800"></constructor-arg>
	<constructor-arg name="height" type="int" value="600"></constructor-arg>
	<constructor-arg name="font" type="java.lang.String" value="宋体"></constructor-arg>
	<constructor-arg name="fontSize" type="int" value="12"></constructor-arg>
</bean>
<!--<bean name="wokerEar" class="com.liumapp.DNSQueen.worker.process.WokerEar">-->
<!--<property name="startDelay" value="3000"></property>-->
<!--</bean>-->

</beans>
